<% provide(:title, '出勤中の社員一覧') %>
<h1>出勤中社員一覧</h1>

<div class="col-md-10 col-md-offset-1">

  <table class="table table-condensed table-hover" id="table-users">
    <thead>
      <tr>
        <th>社員番号</th>
        <th>名前</th>
      </tr>
    </thead>

    <% @dutys.each do |duty| %>
      <tr>
        <td><%= duty.user_id %></td>
        <td><%= @users.find_by(id: duty.employee_number).name %></td>
      </tr>
    <% end %>
  </table>
</div>