<% provide(:title, '出勤中社員一覧') %>
<h1>出勤中社員一覧</h1>

<div class="col-md-10 col-md-offset-1">
  <table class="table table-condensed table-hover" id="table-users">
    <thead>
      <tr>
        <th>社員番号</th>
        <th>名前</th>
      </tr>
    </thead>

    <% @users.each do |user| %>
      <tr>
        <td>
          社員番号<%#= user.name %>
        </td>
        <td><%= user.user_id %></td>
      </tr>
    <% end %>
  </table>
</div>

<!--モーダルウインドウ表示-->
<div id="edit-basic-info" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true"></div>